.updatetitle {
  text-shadow: 2px 2px 4px #0e0e0e;
  color: #fff;
  margin: 0;
}
.containerModal {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 30px 30px;
  border: 1px solid #393939;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.2),
    5px 6px 20px 5px rgba(0, 0, 0, 0.3);
}
.closeModal {
  padding: 5px;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
  border: none;
  justify-content: center;
  align-items: center;
}
.closeIcon {
  width: 16px;
  height: 16px;
  fill: #e2e2e2;
}
.formUpdateContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-shadow: 2px 2px 4px #0e0e0e;
}
.error {
  color: red;
}
.input {
  padding: 5px 10px;
  width: 270px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #000;
  border: 1px solid #6c6c6c;
}
.buttonUpdate {
  background-color: #f1f1f1;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  padding: 8px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 0.02em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), 5px 6px 5px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .containerModal {
    width: 400px;
  }
  .input {
    width: 320px;
  }
}

@media screen and (min-width: 1200px) {
  .containerModal {
    width: 450px;
  }
  .input {
    width: 380px;
    padding: 8px;
  }
  .buttonUpdate {
    padding: 10px;
  }
}
