.authNav {
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  text-shadow: 0 0 1px #ffffff;
}
.authNav:first-child::after {
  margin-left: 15px;
  top: 10px;
  position: absolute;
  content: "";
  height: 26px;
  width: 2px;
  background-color: #515151;
}
.authNav:hover {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}
