.welcome {
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  margin: 0;
  flex-wrap: nowrap;
}
.containerUserMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.exit {
  display: flex;
  border-radius: 5px;
  padding: 6px 5px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #000000;
  background-color: rgb(246, 245, 245);
  text-shadow: 2px 2px 4px #b9b9b9;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}
.exit:hover {
  background-color: #6c70e8;
  color: #fff;
  text-shadow: 2px 2px 4px #0e0e0e;
}
.logOut {
  display: none;
}
@media screen and (min-width: 768px) {
  .welcome {
    font-size: 22px;
  }
  .containerUserMenu {
    gap: 10px;
  }
  .exit {
    padding: 5px;
    gap: 6px;
    font-size: 20px;
  }
  .logOut {
    display: inline-flex;
    text-shadow: 2px 2px 4px #b9b9b9;
    color: #000000;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .welcome {
    font-size: 22px;
  }
  .containerUserMenu {
    gap: 15px;
  }
  .exit {
    padding: 5px 10px;
    gap: 8px;
    font-size: 22px;
  }
  .logOut {
    font-size: 22px;
  }
}
