.notFoundContainer {
  padding: 5px;
  font-size: 24px;
  font-weight: 500;
}
.message {
  display: inline;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.linkHome {
  font-size: 26px;
  font-weight: 500;
  color: blue;
}
.linkHome:hover {
  color: aliceblue;
}
