.notFoundContainer {
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 500;
}
.message {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}
.linkHome {
  font-size: 28px;
  font-weight: 500;
  color: blue;
}
.linkHome:hover {
  color: aliceblue;
}
